/* ================================= 
  Media Queries
==================================== */
/* this is a way to set the sticky footer with the flexbox */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* we can either make the row expand*/
.row {
  flex: 1;
}
/* or we can make the footer have a top margin of auto */
.main-footer {
  margin-top: auto;
}
@media (min-width: 769px) {
  .main-header,
  .main-nav,
  .row,
  /* start by putting col as a flex container */
  .col {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .col {
    flex: 1;
    flex-direction: column;
  }
  /* this will place the buttons all the way at the botttom by adding the margin that we need */
  .button {
    margin-top: auto;
    /* this will bring the buttons to the left bottom, or you can put flex-end to put at the right */
    align-self: flex-start;
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }
}
