/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
  .main-nav {
    display: flex;
    justify-content: center;
  }
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  /* this will make the column not so big */
  .col {
    flex: 1;
  }
}

@media (min-width: 1025px) {
  .main-header {
    flex-direction: row;
    /* this will put our items left and right */
    justify-content: space-between;
  }

  /* this will make the column twice as big when we go larger */
  .primary {
    flex: 2;
  }
}
